.body {
  background-color: rgb(5, 40, 37);
}

.box {
  max-width: 850px;
  margin-top: 100px;
  margin: 0 auto;
  display: flex;
}

.box__text__h2 {
  color: var(--base-text-on-dark, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 112.5% */
  letter-spacing: -1.16px;
  text-transform: capitalize;
}

.box__text {
  width: 500px;
  margin: 0 auto;
}
.box__texth2 {
  margin-top: 0;
  font-family: "Dela Gothic One", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  font-size: 50px;
}
.box__text__p {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.box__text__img {
  margin-top: 70px;
}

.box__text__box {
  display: flex;
}
.box__text__box_button {
  background: rgb(46, 79, 215);
  max-width: 150px;
  height: 40px;
  margin-top: 18px;
  border: none;
}
.box__text__box__p {
  color: rgb(255, 255, 255);
  width: 40%;
  margin-left: 20px;
}

.box__img-1 {
  margin-top: 7vh;
  width: 500px;
}

.box1 {
  max-width: 850px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.box1__h1 {
  font-family: "Dela Gothic One", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 123.81% */
  letter-spacing: -0.76px;
  margin-top: 20vh;
}
.box1__p {
  max-width: 540px;
  color: var(--base-text-on-dark, #FFF);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: -0.36px;
}
.box1__box-1__box {
  display: flex;
  flex-direction: row;
}
.box1__box-1__text {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 35vh;
}
.box1__h1-1 {
  color: var(--base-text-on-dark, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 82px; /* 113.889% */
  letter-spacing: -1.3px;
  position: absolute;
  left: 0vh;
}
.box1__h1-2 {
  color: var(--base-text-on-dark, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 62px; /* 119.231% */
  letter-spacing: -0.939px;
  margin-right: 20vh;
  position: absolute;
  left: 11vh;
  bottom: -20.65vh;
}
.box1__p-1 {
  display: flex;
  margin-top: 20vh;
  width: 203px;
  position: absolute;
  color: var(--base-text-on-dark, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.289px;
}
.box1__box-2__img {
  display: flex;
  right: 0;
  width: 45vh;
  margin-left: 70vh;
}

@media (max-width: 1100px) {
  .box {
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .box1 {
    max-width: 500px;
  }
  .box1__box-2__img {
    display: flex;
    right: 0;
    width: 60vh;
    margin-left: 0;
    margin: 300px auto;
  }
}
@media (max-width: 650px) {
  .box {
    display: flex;
  }
  .box__text__h2 {
    font-size: 55px;
    margin: 0 auto;
  }
  .box__img-1 {
    display: none;
  }
  .box__text {
    margin: 0 auto;
  }
  .box__img {
    display: none;
  }
  .box__box-1 {
    width: 500px;
    display: flex;
  }
  .box__text__p {
    font-size: 40px;
  }
  .box1__box-2__img {
    display: none;
  }
}
@media (max-width: 585px) {
  .box {
    max-width: 200px;
    margin: 0 auto;
    margin-left: 50px;
  }
  .box1 {
    max-width: 390px;
    margin: 0 auto;
    margin-left: 80px;
  }
}/*# sourceMappingURL=style.css.map */